@page
@model WebLayer.Pages.Users.LoginModel
@{
    ViewData["Title"] = "Login";
}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js%22%3E"></script>
</head>
<div class="container">
    <form class="col s12" method="post">
       <h2>Login</h2>
        <div class="row">
            <div class="input-field col s12">
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="password" type="password" class="validate">
                <label for="password">Password</label>
            </div>
        </div>
        <button class="btn waves-effect waves-light" asp-page-handler="Login">Login</button>
        <button class="btn waves-effect waves-light" asp-page-handler="Create">Opret</button>
    </form>
    <!-- Modal Trigger -->
    <button data-target="modal1" class="btn modal-trigger">Modal</button>    
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Modal Header</h4>
            <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems, options);
    });
    $(document).ready(function () {
        $('.modal').modal();
    });
</script>
