@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div id="index-banner" class="parallax-container">
    <div class="parallax"><img src="~/image/banner/banner1.jpg" alt="Unsplashed background img 1"></div>
</div>

<div class="container">
    <br/>
    <div class="row grey">
        <div class="col s1">
            <i class="material-icons left medium">local_shipping</i>
        </div>
        <div class="col s3">
            <h5 class="center">Levering 1-2 dage</h5>
            <p class="center">Ordrer er oftest fremme næste hverdag.</p>
        </div>
        <div class="col s1">
            <i class="material-icons left medium">credit_card</i>
        </div>
        <div class="col s3">
            <h5 class="center">Sikker Betaling</h5>
            <p class="center">Vi trækker først pengene, når din ordre sendes.</p>
        </div>
        <div class="col s1">
            <i class="material-icons left medium">chat_bubble_outline</i>
        </div>
        <div class="col s3">
            <h5 class="center">Hurtig kundeservice</h5>
            <p class="center">Har du spørgsmål, skriv til os. Vi svarer lynhurtigt.</p>
        </div>
    </div>
    <div class="section">
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">Single kort</h5>

                    <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">Booster pack</h5>

                    <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Booster box</h5>

                    <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h3 class="header col s12 ">Single kort, booster og displays</h3>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="~/image/banner/banner2.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <a asp-page="/Products/AllProducts" >
                    <h4>Produkter</h4>
                </a> 


                <div class="row">
                    @foreach (var item in Model.Products)
                    {
                        <partial name="_ProductPartial" model="item" />
                    }
                </div>

            </div>
        </div>

    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light"></h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="~/image/banner/banner3.jpg" alt="Unsplashed background img 3"></div>
</div>


