
<div class="col s12 mb" method="post">
    <h2>Login</h2>
    <div class="row">
        <div class="input-field col s12">
            <input id="email" type="email" class="validate" >
            <label for="email">Email</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input type="password" class="validate">
            <label >Password</label>
        </div>
    </div>
    <button class="btn waves-effect waves-light">Login</button>
   <a class="waves-effect waves-light btn view" >Opret</a>
</div>

@code {

}
